<div class="container">
    <div class="row">
        <div class="col-4 mt-5">
            <button class="btn btn-success"
            (click)="onSave()">
                Save
            </button>
            <br><br>
            <button class="btn btn-primary"
            (click)="onLecture()">
                Lecture
            </button>
            <br><br>
            <button class="btn btn-dark"
            (click)="onSave2()">
                save 2
            </button>
            </div>
        </div>
    </div>