<div class="container">
    <div class="row">
        <div class="col-4 mt-5">
            <button class="btn btn-success"
            (click)="onSave()">
                Save
            </button>
            <br><br>
            <button class="btn btn-primary"
            (click)="onModif()"
            >
                Modif
            </button>
            <br><br>
            <button class="btn btn-dark"
            (click)="onEnlever()"
            >
                Effacer
            </button>
            <br><br>
            <button class="btn btn-warning"
            (click)="onLecture()"
            >
                Lecture
            </button>
            
            </div>
        </div>
    </div>